<div id="TaskFirstSolution">
	<form method="post">
		<p>
			<h1>
				№1: Даны четыре вещественных числа. Определить, сколько из них отрицательных
			</h1>
		</p>

		<p>
			<label>Введите первое вещественное число:</label>
			<input type="text" name="One" />
		</p>

		<p>
			<label>Введите второе вещественное число:</label>
			<input type="text" name="Two" />
		</p>

		<p>
			<label>Введите третье вещественное число:</label>
			<input type="text" name="Three" />
		</p>

		<p>
			<label>Введите четвертое вещественное число:</label>
			<input type="text" name="Four" />
		</p>

		<p>
			<input type="submit" value="Тык <3" />
		</p>
		<p>
			<label>Количество отрицательных чисел:</label>
			<label>@ViewBag.H</label>
		</p>
	</form>
</div>