<div id="TaskThirdSolution">
	<form method="post">
		<p>
			<h1>
				№1: Вывести на экран матрицу 5x5. Определить среднее арифметическое минимальных элементов столбцов матрицы

			</h1>
		</p>

		<table>
			<tr>
				<th><input type="text" name="OneSbOneSr" /></th>
				<th><input type="text" name="TwoSbOneSr" /></th>
				<th><input type="text" name="ThreeSbOneSr" /></th>
				<th><input type="text" name="FourSbOneSr" /></th>
				<th><input type="text" name="FiveSbOneSr" /></th>
			</tr>

			<tr>
				<th><input type="text" name="OneSbTwoSr" /></th>
				<th><input type="text" name="TwoSbTwoSr" /></th>
				<th><input type="text" name="ThreeSbTwoSr" /></th>
				<th><input type="text" name="FourSbTwoSr" /></th>
				<th><input type="text" name="FiveSbTwoSr" /></th>
			</tr>

			<tr>
				<th><input type="text" name="OneSbThreeSr" /></th>
				<th><input type="text" name="TwoSbThreeSr" /></th>
				<th><input type="text" name="ThreeSbThreeSr" /></th>
				<th><input type="text" name="FourSbThreeSr" /></th>
				<th><input type="text" name="FiveSbThreeSr" /></th>
			</tr>

			<tr>
				<th><input type="text" name="OneSbFourSr" /></th>
				<th><input type="text" name="TwoSbFourSr" /></th>
				<th><input type="text" name="ThreeSbFourSr" /></th>
				<th><input type="text" name="FourSbFourSr" /></th>
				<th><input type="text" name="FiveSbFourSr" /></th>
			</tr>

			<tr>
				<th><input type="text" name="OneSbFiveSr" /></th>
				<th><input type="text" name="TwoSbFiveSr" /></th>
				<th><input type="text" name="ThreeSbFiveSr" /></th>
				<th><input type="text" name="FourSbFiveSr" /></th>
				<th><input type="text" name="FiveSbFiveSr" /></th>
			</tr>
		</table>
		





		<p>
			<input type="submit" value="Тык <3" />
		</p>
		<p>
			<label>Cреднее арифметическое минимальных элементов столбцов матрицы:</label>
			<label>@ViewBag.Sr</label>
		</p>
	</form>
</div>